
.nav-container {
    padding: 0 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
.navbar-border {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.logo-svg {
    height: 30px;
    width: auto;
    transition: fill 0.3s ease;
}
    .logo-svg .logo-path {
        fill: #231f20;
        transition: fill 0.3s ease;
    }

#brand:hover .logo-path {
    fill: #000
}
.brand .active .logo-path {
    fill: #9639ff; /* Active color */
}
.brand {
    display: flex;
    align-items: center;
}

#brand {
    font: bold 18px Verdana, sans-serif;
    color: #000;
    text-decoration: none;
}

.social-icons a {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        font: 16px Verdana, sans-serif;
    }

        .nav-links li a {
            display: block;
            color: gray;
            text-align: right;
            padding: 14px 16px;
            text-decoration: none;
        }

            .nav-links li a:hover:not(.active) {
                color: #111;
            }
            .nav-links li a.active {
                color: #9639ff;
                font-weight: bold;
            }



/* Media query for smaller screens */
            @media screen and (max-width: 768px) {
                .navbar-border {
                    display: none;
                }

                .nav-container {
                    padding: 20px 15px;
                }

                .nav-container-small {
                    padding: 20px 15px; /* Adjusted padding for smaller screens */
                }

                .hamburger-menu {
                    display: block;
                }

                .nav-container.open .nav-links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background-color: #fff;
                    width: 100%;
                    position: absolute;
                    top: 100px;
                    left: 0;
                    z-index: 1000;
                }

                .social-icons {
                    cursor: pointer;
                    padding: 10px;
                    font-size: 24px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }

                .nav-links {
                    display: none;
                }

                .logo-svg {
                    display: none;
                }

                .nav-container.open .logo-svg {
                    display: block;
                    margin-top: 40px;
                }

                .logo-svg .logo-path {
                    fill: #231f20;
                    transition: fill 0.3s ease;
                }
            }
